{% if trackers %}
<li id="trackers" class="dropdown-container responsive-menu" data-last-responsive="true">
	<a href="#" class="dropdown-trigger">
		<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span>{{ lang('TRACKERS') }}</span>
	</a>
	<div class="dropdown">
		<div class="pointer"><div class="pointer-inner"></div></div>
		<ul class="dropdown-contents" role="menu">
			{% for tracker in trackers %}
			<li>
				<a href="{{ tracker.U_VIEWTRACKER }}" role="menuitem">
					<i class="icon fa-{{ tracker.TRACKER_ICON }} fa-fw" aria-hidden="true"></i><span>{{ tracker.TRACKER_NAME }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</li>
{% endif %}
