	<div class="mini-panel">
		<div class="inner">
		<h3>{{ lang('TICKET_DETAILS') }}</h3>
		<ul class="menu">
			{% for detail in ticket_details %}
			<li><strong>{{ detail.NAME }}{{ lang('COLON') }}</strong> {{ detail.VALUE }}</li>
			{% endfor %}
		</ul>
		</div>
	</div>

	{% if duplicates %}
	<div class="mini-panel">
		<div class="inner">
		<h3>{{ lang('DUPLICATES_TICKET') }}</h3>
		<div class="duplicates">
			<ul class="menu">
				<li>
					{% for duplicate in duplicates %}
					<a href="{{ duplicate.U_VIEWTICKET }}" title="{{ duplicate.TITLE }}">#{{ duplicate.ID }}</a>{% if not duplicate.S_LAST_ROW %}, {% endif %}
					{% endfor %}
				</li>
			</ul>
		</div>
		</div>
	</div>
	{% endif %}

	{% if duplicates_other %}
	<div class="mini-panel">
		<div class="inner">
		<h3>{{ lang('DUPLICATES_OTHER') }}{{ DUPLICATE_ID }}</h3>
		<div class="duplicates_other">
			<ul class="menu">
				<li>
				{% for duplicate_other in duplicates_other %}
					<a href="{{ duplicate_other.U_VIEWTICKET }}" title="{{ duplicate_other.TITLE }}">#{{ duplicate_other.ID }}</a>{% if not duplicate_other.S_LAST_ROW %}, {% endif %}
					{% endfor %}
				</li>
			</ul>
		</div>
		</div>
	</div>
	{% endif %}
